<% if logged_in? %>
<h1><%= @article.title %></h1>
<%if @article.image.exists?%>
<p><%= image_tag @article.image.url(:medium) %></p>
<%end%>
<p><%= @article.body %></p>


<% if @article.tags.exists? %>
<div class="tags">
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: 'tags__item' %>
  <% end %>
</div>

<% end %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>

<div class="btns">
  <%= link_to "Edit", edit_article_path(@article), class:'btn' %>
  <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn' %>
  <%= link_to  "Back to articles listing", articles_path, class:'btn' %>
</div>
<% else %>
  <p>To see this article, you need to login as a new author</p>
  <%= link_to  "Login", login_path, class: 'btn' %>
  <%= link_to  "Create an account", new_author_path, class: 'btn' %>
<% end %>
